.app-header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  height: 50px;
  position: relative;
  h1 {
    position: relative;
    right: 10rem;
    font-size: 20px;
  }
  nav {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    left: 10rem;
  }
  .search {
    position: absolute;
    top: 8px;
  }
  .btn {
    border-radius: 50px;
    padding: 6px 14px;
  }
  .btn-white {
    border: 1px solid #499fe0;
    color: #0079d3;
  }
  .btn-blue {
    border: 1px solid #0079d3;
    color: #ffffff;
    background-color: #0079d3;
  }
}
