/* HeroSearch private styles */

.hero-search {
}

input {
  padding: 0.5rem;
  width: 500px;
  max-width: 600px;
  box-sizing: border-box;
  display: block;
  background-color: #f6f7f8;
  color: #9d9e9e;
  border: 1px solid #f5f6f7;
  border-radius: 4px;
}

//on the warpper form
// box-sizing: border-box;
//     display: -ms-flexbox;
//     display: flex;
//     background-color: var(--newRedditTheme-field);
//     border: 1px solid var(--newRedditTheme-line);
//     border-radius: 4px;
//     box-shadow: none;
//     height: 36px;

input:focus {
  border: 1px solid #6bb1e5;
  background-color: #ffffff;
}

input:hover {
  border: 1px solid #6bb1e5;
  background-color: #ffffff;
}

li {
  list-style-type: none;
}
.search-result li a {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  display: inline-block;
  width: 100%;
  max-width: 600px;
  padding: 0.5rem;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

.search-result li a:hover {
  background-color: #435a60;
  color: white;
}

ul.search-result {
  margin-top: 0;
  padding-left: 0;
}
